//flex shortcut
$flex-map: (
    start: flex-start,
    end: flex-end,
    stretch: stretch,
    center: center,
    between: space-between,
    around: space-around
);

@function flexbox-value($val) {
    @return map-get($flex-map, $val);
}

@mixin flexbox($justify: center, $align: center) {
    display: flex;
    align-items: flexbox-value($align);
    justify-content: flexbox-value($justify);
}

@mixin inline-flexbox($justify: center, $align: center) {
    display: inline-flex;
    align-items: flexbox-value($align);
    justify-content: flexbox-value($justify);
}

@mixin column-flexbox($justify: center, $align: center) {
    display: flex;
    align-items: flexbox-value($align);
    flex-direction: column;
    justify-content: flexbox-value($justify);
}
