%button-base {
    @include inline-flexbox(center, center);
    padding: 0 8px;
    font-weight: 700;
    border-radius: 4px;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.4;
    }
}

//버튼 형태
.button-fill-primary {
    @extend %button-base;
    color: $white;
    background-color: $blue;
    transition: background-color 200ms ease-in-out;

    &:hover {
        background-color: $blue-dark;
    }

    &:disabled:hover {
        background-color: $blue;
    }
}

.button-fill-secondary {
    @extend %button-base;
    color: $black;
    background-color: $secondary;
    transition: background-color 200ms ease-in-out;

    &:hover {
        background-color: $tertiary;
    }

    &:disabled:hover {
        background-color: $secondary;
    }
}

.button-outlined-blue {
    @extend %button-base;
    color: $blue;
    border: 1px solid $blue;
    transition: background-color 200ms ease-in-out;

    &:hover {
        background-color: $blue-light;
    }

    &:disabled:hover {
        background-color: $white;
    }
}

.button-ghost {
    @extend %button-base;
    color: $primary;
    background-color: transparent;
    transition: color 200ms ease-in-out;

    &:hover {
        color: $secondary;
    }

    &:disabled:hover {
        color: $primary;
        background-color: transparent;
    }
}

//버튼 사이즈
.button-32 {
    height: 32px;
    @include text-style(14);
}

.button-40 {
    height: 40px;
    @include text-style(16);
}

.button-48 {
    height: 48px;
    @include text-style(16);
}

.button-55 {
    height: 55px;
    @include text-style(18);
}
